.page {
  font-family: var(--main-font), sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  color: var(--main-color);
  background-color: var(--main-bg-color, #fff);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.base {
  border: var(--main-color) solid 2px;
  background-color: var(--main-bg-color, #fff);
  max-inline-size: 700px;
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
}

.button-font {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--main-font-weight, 400);
}

.text-button {
  line-height: 0.9;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s;
  border: currentColor solid 2px;
  background-color: transparent;
  min-block-size: 38px;
}

.text-button::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
  background-color: var(--main-color);
  inset: 0 0;
}

.text-button:hover:after {
  transform: translateX(0);
}

.text-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #fff);
}

.text-button > span {
  position: relative;
  z-index: 1;
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.text-button > svg {
  position: relative;
  z-index: 1;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.header {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--accent-font-weight, 400);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: clamp(20.438rem, 19.705rem + 3.661vw, 23rem);
  margin-block-end: 100px;
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  animation: pointing 0.5s ease-in-out infinite alternate;
  opacity: 0.6;
  margin-inline-start: -1.5em;
  margin-inline-end: -0.5em;
}

.theme-menu__button::after {
  position: absolute;
  display: block;
  content: "";
  transition: transform 0.3s, opacity 0.3s;
  transform: scaleX(0);
  background-color: var(--main-color);
  inline-size: 95%;
  inset-inline-start: 5px;
  block-size: 2px;
  inset-block-end: -3px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 0.6;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: "wght" var(--accent-font-weight, 700);
}

.card__image-container {
  position: relative;
  inline-size: 100%;
  border-block-start: var(--main-color) solid 2px;
  border-block-end: var(--main-color) solid 2px;
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(4);
}

.hue {
  filter: hue-rotate(40deg);
}

.invert {
  filter: invert(1) contrast(0.5);
}

.sepia {
  filter: sepia(0.9) brightness(0.9);
}

.blur {
  filter: blur(20px);
}

.mixed {
  filter: hue-rotate(90deg) blur(2px) contrast(0.5);
}

.card__watermark {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--main-font-weight, 400);
  position: absolute;
  opacity: 0.5;
  color: var(--main-color);
  text-shadow: -1px 0 1px var(--main-bg-color, #fff),
    1px 0 1px var(--main-bg-color, #fff), 0 -1px 1px var(--main-bg-color, #fff),
    0 1px 1px var(--main-bg-color, #fff);
  mix-blend-mode: hard-light;
  inset-inline-end: clamp(13px, calc(13px + ((100vw - 375px) / 88.75)), 25px);
  inset-block-start: 20px;
  inline-size: fit-content;
}

@supports (
  (text-stroke: 1px var(--main-bg-color, #fff)) or
    (-webkit-text-stroke: 1px var(--main-bg-color, #fff))
) {

  .card__watermark {
    -webkit-text-stroke: 1px var(--main-bg-color, #fff);
    text-stroke: 1px var(--main-bg-color, #fff);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.post__text {
  font-size: 18px;
  line-height:1.166;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: inherit;
  inline-size: 36px;
  outline: transparent solid 2px;
  transition: outline-color 0.3s;
}

.card__icon-button:focus-visible {
  outline: var(--main-color, #fff) solid 2px;
}

.card__like-button {
  width: fit-content;
  padding: 0;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.like-icon .core {
  transition: fill 0.3s 0.03s;
  fill: var(--main-bg-color);
}

.like-icon:hover .core {
  transition: fill 0.3s;
  fill: var(--fill);
}

.like-icon:active .core {
  transition: fill 0.3s;
  fill: var(--fill-liked);
}

.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--fill-liked);
}

.like-icon .main-body {
  transition: fill 0.3s;
  fill: var(--main-bg-color);
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--fill, #000);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--fill-liked, #f00);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--fill-liked, #f00);
}

.like-icon .contour {
  transition: fill 0.1s;
  fill: var(--fill, #000);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s;
  fill: var(--fill-liked, #f00);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: heart;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

.sparks {
  opacity: 0;
  fill: var(--fill-liked, #f00);
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

.save-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 20px;
  color: var(--main-color, #000);
  border: var(--main-color, #000) solid 2px;
  background-color: var(--main-bg-color, #fff);
  margin-block-start: 50px;
  gap: 8px;
  inline-size: clamp(310px, calc(310px + ((100vw - 375px) / 35.5)), 340px);
  min-block-size: 55px;
}

.save-button__icon {
  align-self: center;
  justify-self: center;
  inline-size: clamp(22px, calc(29px - ((100vw - 375px) / 152.14)), 29px);
  block-size: clamp(22px, calc(29px - ((100vw - 375px) / 152.14)), 29px);
}

.save-button__text {
  text-wrap: nowrap;
}

.insert-floppy[open] {
  padding: 30px clamp(30px, calc(40px - ((100vw - 375px) / 106.5)), 40px);
  color: var(--main-color, #000);
  inline-size: clamp(341px, calc(341px + ((100vw - 375px) / 66.56)), 357px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.insert-floppy__icon {
  align-self: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.insert-floppy__info {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.insert-floppy__button {
  width: 100%;
}

.insert-floppy::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
